<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.myapplication">
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Ice Cream"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailsActivity"
            android:screenOrientation="portrait"
            android:label="" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.myapplication.MainActivity"
                />
        </activity>
        <activity android:name=".AddItemActivity"
            android:screenOrientation="portrait"
            android:label=""/>

        <provider
            android:authorities="com.example.android.myapplication"
            android:name=".data.InventoryProvider"
            android:exported="false"/>

    </application>

</manifest>